<h1>Track Info</h1>

<%= render "shared/profile", obj: @track, attributes: [:track_name, :status, :album_id, :lyrics] %>

<br>
<%= link_to "Edit track", edit_track_url(@track) %>
<br>
<%= link_to "Back to tracks", tracks_url %>