<%= render "shared/form_auth_token" %>

	<label for="user-email">Email: </label>
	<input 
		type="text"
		name="user[email]"
		id="user-email"
		value="<%= user.email %>">

	<br>

	<label for="user-password">Password: </label>
	<input
		type="text"
		name="user[password]"
		id="user-password"
		value="<%= user.password %>">

	<br>
	<br>